<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <title>스파르타코딩클럽 | 부트스트랩 연습하기</title>

    <meta property="og:title" content="원페이지 쇼핑몰"/>
    <meta property="og:description" content="내가 만든 첫 웹서비스, 추억카메라"/>
    <meta property="og:image" content="{{ url_for('static', filename='ogimage.jpg') }}"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Song+Myung&display=swap" rel="stylesheet">

    <style>
        * {
            font-family: 'Song Myung', serif;
        }

        .wrap {
            width: 1125px;
            margin: auto;
        }

        /*마진 설정*/
        .order_margin {
            width: 1125px;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .box_margin {
            width: 1125px;
            margin: 100px auto auto auto;
        }

        .span {
            font-size: 20px;
        }

        .btn_align {
            width: 200px;
            margin: auto;
            padding: 10px;
            display: block;
        }

        .blue_rate {
            color: blue;
        }
    </style>

    <script>

        $(document).ready(function () {
            showOrder()
            rate_u()
        });

        function makeOrder() {
            let name = $('#name').val()
            let quantity = $('#inputGroupSelect01').val() // 수량
            let address = $('#address').val()
            let number = $('#number').val()

            $.ajax({
                type: "POST",
                url: "/order",
                data: {name_give: name, quantity_give: quantity, address_give: address, number_give: number},
                success: function (response) {
                    alert(response["msg"]);
                    window.location.reload();
                }
            })
        }

        function showOrder() {
            $.ajax({
                type: "GET",
                url: "/order",
                data: {},
                success: function (response) {
                    let orders = response['all_orders']

                    for(let i = 0; i < orders.length; i++) {
                        let name = orders[i]['name']
                        let quantity = orders[i]['quantity']
                        let address = orders[i]['address']
                        let number = orders[i]['number']

                        let temp_html = `<tr>
                                            <td>${name}</td>
                                            <td>${quantity}</td>
                                            <td>${address}</td>
                                            <td>${number}</td>
                                        </tr>`
                        $('#order-box').append(temp_html)
                    }
                }
            })
        }

        function rate_u() {
            $.ajax({
                type: "GET",
                url: "http://spartacodingclub.shop/sparta_api/rate",
                data: {},
                success: function (response) {
                    console.log(response)
                    let rate = response["rate"];
                    $('#rate-update').text(rate);
                }
            })
        }

    </script>
</head>

<body>
    <div class="wrap">
        <!--상품 사진-->
        <div>
            <img src="https://images.pexels.com/photos/733853/pexels-photo-733853.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260">
        </div>

        <!--상품 제목 및 가격, 상품 설명-->
        <div class="order_margin">
            <h1>추억 카메라<span class="span"> 가격: 80,000원/개 </span></h1>
            <h4>추억을 기록하고 싶으시다고요? 이 카메라면 충분합니다. 소중한 사람과의 추억 하나를 만들어보세요.</h4>
        </div>

        <!--환율-->
        <p class="blue_rate">달러-원 환율: <span id="rate-update">0</span></p>

        <!--주문자 이름 입력-->
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">주문자 이름</span>
            </div>
            <input id="name" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
        </div>
        <!--수량 선택-->
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">수량</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01">
                <option selected>-- 수량을 선택하세요 --</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
        <!--주소 입력-->
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">주소</span>
            </div>
            <input id="address" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
        </div>
        <!--전화번호 입력-->
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">전화번호</span>
            </div>
            <input id="number" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
        </div>

        <!--주문하기 버튼-->
        <button type="button" class="btn_align btn-success btn_align" onclick="makeOrder()">주문하기</button>

        <!--주문 내역-->
        <div class="box_margin">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">이름</th>
                    <th scope="col">수량</th>
                    <th scope="col">주소</th>
                    <th scope="col">전화번호</th>
                </tr>
                </thead>
                <tbody id="order-box">
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>